spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true
  security:
    filter:
      order: 10
  threads:
    virtual:
      enabled: true

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      expiration: 900000
      refresh-token:
        expiration: 604800000

web3j:
  rpc-address: ${WEB3J_RPC_ADDRESS}
  ws-address: ${WEB3J_WS_ADDRESS}
  gas-price: ${WEB3J_GAS_PRICE}
  gas-limit: ${WEB3J_GAS_LIMIT}
  contract:
    casino-token: ${CONTRACT_CASINO_TOKEN}
    casino-vault: ${CONTRACT_CASINO_VAULT}
    slot-machine: ${CONTRACT_SLOT_MACHINE}
    dice: ${CONTRACT_DICE}
    roulette: ${CONTRACT_ROULETTE}

wallet:
  master-wallet:
    private-key: ${WALLET_MASTER_PRIVATE_KEY}
    address: ${WALLET_MASTER_ADDRESS}

server:
  port: ${SERVER_PORT}
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    org.springframework.security: DEBUG
    hu.bme.aut.crypto_casino_backend: DEBUG
